<h1>Teacher <%= @teacher.name %>'s Profile</h1>
<ul>
  <li>email: <%= @teacher.email %></li>
</ul>
<%= link_to "Edit #{@teacher.name}", edit_teacher_path(@teacher) %>
<%= form_tag teacher_path(@teacher), method: "DELETE" do %>
  <%= submit_tag "Delete yoself, #{@teacher.name}" %>
<% end %>
