<!DOCTYPE html>
<html>
  <head>
    <title>Favorite colors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2>Votes remaining: <%= @remaining_votes %></h2>
      <% if @logged_in_user %>
        <%= @logged_in_user.username %>
      <% end %>
      <% if @errors %>
        <ul class="errors">
            <% @errors.each do |error| %>
              <li>
                <%= error %>
              </li>
            <% end %>
        </ul>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
