<!DOCTYPE html>
<html>
  <head>
    <title>Complimentor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- https://cdnjs.com/libraries/semantic-ui -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/menu' %>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js">
  </body>
</html>
