<h1><%= @student.name %>'s Profile</h1>
<ul>
  <li>age: <%= @student.age %></li>
  <li>favorite food: <%= @student.favorite_food %></li>
</ul>

<%= form_tag student_path(@student), method: "DELETE" do %>
  <%= submit_tag "Delete yoself, #{@student.name}" %>
<% end %>
